body * {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
header * {
    display: inline;
}
.logo {
    margin-left: 300px;
}
.title {
    font-size: 40px;

}
.menu ul {
    margin-right: 300px;
    color: grey;
}
.menu * {
    float: right;
    padding-right: 25px;
}
.name {
    margin-top: 75px;
}
.name * {
    text-align: center;
    margin: 0px;
}
h3 {
    padding: 20px;
}
div > p {
    color: grey;
    padding: 5px;
}
h5 {
    color: white;
    border-radius: 3px;
    background-color: rgb(33, 156, 204);
    width: 200px;
    position: absolute;
    left: 44%;
    padding: 5px 0px;
    margin-left: 100px;
}
.text {
    margin-top: 50px;
}
.text > p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 400px;
}
.line > hr {
    position: absolute;
    margin: 25px;
    left: 23%;
}
.menuBottom ul {
    margin-top: 40px;
    margin-left: 365px;
}
.menuBottom * {
    list-style: none;
    float: left;
    padding-left: 20px;
    color: grey;
}
footer {
    position: absolute;
    margin: 200px;
    left: 33%;
}