body * {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
header * {
    display: inline;
}
.logo {
    margin-left: 300px;
}
.title {
    font-size: 40px;

}
.menu ul {
    margin-right: 300px;
    color: grey;
}
.menu * {
    float: right;
    padding-right: 25px;
}
.name {
    margin-top: 75px;
}
.name * {
    text-align: center;
    margin: 0px;
}
h3 {
    padding: 20px;
}
div > p {
    color: grey;
}
h5 {
    color: white;
    background-color: rgb(33, 156, 204);
    padding: 0px;
}